*{
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
  }
  

col {
    height: 100%;
}

h1 {
    font-weight: bolder;
}

.navBar {
   color: red; 
   
}

#navOption {
    height: 50vh; 
    writing-mode: vertical-rl;
    background-color: gray;
    margin:0%;
}


#about {
    height: 100%;
    padding-top: 10%;
}

#renderSurface {
    width: 100vw;
    height: 100vh;
    z-index: 3;
}